@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
	3.1 Logo
	3.2 Main Nav
	3.3 Header Side
	3.4 Hamburger
4. Menu
	4.1 Menu Social
	4.2 Menu copyright
5. Home
7. Page Section
8. Elements
	8.1 Buttons
	8.2 Progress Bars
	8.3 Accordions
	8.4 Loaders
	8.5 Milestones
	8.6 Icon Boxes
9. Footer
	9.1 Footer Copyright


******************************/

/***********
1. Fonts
***********/
@import
	url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800|Roboto:400,500,700')
	;

/*********************************
2. Body and some general stuff
*********************************/
* {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
	text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 400;
	background: #FFFFFF;
	color: #a5a5a5;
}

div {
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

ul {
	list-style: none;
	margin-bottom: 0px;
}

p {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 2.29;
	font-weight: 400;
	color: #a5a5a5;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
	text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

p a {
	display: inline;
	position: relative;
	color: inherit;
	border-bottom: solid 1px #ffa07f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

a, a:hover, a:visited, a:active, a:link {
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
	text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

p a:active {
	position: relative;
	color: #FF6347;
}

p a:hover {
	color: #FFFFFF;
	background: #ffa07f;
}

p a:hover::after {
	opacity: 0.2;
}

::selection {
	background: #FFD266;
	color: #C88E00;
}

p::selection {
	background: #FFD266;
	color: #C88E00;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 22px;
}

h3 {
	font-size: 18px;
}

h4 {
	font-size: 14px;
}

h5 {
	font-size: 11px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
	text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

h1::selection, h2::selection, h3::selection, h4::selection, h5::selection,
	h6::selection {
	
}

::-webkit-input-placeholder {
	font-size: 14px !important;
	font-weight: 500 !important;
	color: #a5a5a5 !important;
}

:-moz-placeholder /* older Firefox*/ {
	font-size: 14px !important;
	font-weight: 500 !important;
	color: #a5a5a5 !important;
}

::-moz-placeholder /* Firefox 19+ */ {
	font-size: 14px !important;
	font-weight: 500 !important;
	color: #a5a5a5 !important;
}

:-ms-input-placeholder {
	font-size: 14px !important;
	font-weight: 500 !important;
	color: #a5a5a5 !important;
}

::input-placeholder {
	font-size: 14px !important;
	font-weight: 500 !important;
	color: #a5a5a5 !important;
}

.login {
	font-size: 17px;
	color: #00001f;
	font-weight: 300;
	transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
}

.login:hover {
	color: #fffff0;
	transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
}

.login:before {
	display: block;
	float: left;
	font-family: FontAwesome;
	font-size: 17px;
	height: 37px;
	line-height: auto;
	margin-right: 10px;
	text-align: left;
	width: 16px;
	vertical-align: middle;
}

.login:before {
	content: "\f007";
}

.registration {
	font-style: italic;
	text-decoration: underline !important;
}

.form-control {
	color: #333333;
}

section {
	display: block;
	position: relative;
	box-sizing: border-box;
}

.clear {
	clear: both;
}

.clearfix::before, .clearfix::after {
	content: "";
	display: table;
}

.clearfix::after {
	clear: both;
}

.clearfix {
	zoom: 1;
}

.float_left {
	float: left;
}

.float_right {
	float: right;
}

.trans_200 {
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.trans_300 {
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}

.trans_400 {
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}

.trans_500 {
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

.fill_height {
	height: 100%;
}

.super_container {
	width: 100%;
	overflow: hidden;
}

.prlx_parent {
	overflow: hidden;
}

.prlx {
	height: 100% !important;
}

.nopadding {
	padding-left: 0px !important;
	padding-right: 0px !important;
	padding-bottom: 4em;
	padding-top: 1em;
}

/*********************************
3. Header
*********************************/
.header {
	position: relative;
	top: 45px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 1318px;
	height: 104px;
	background: #FFFFFF;
	z-index: 10;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.header.scrolled {
	top: 15px;
}

.header.scrolled .header_content::before {
	box-shadow: 0px 20px 49px rgba(0, 0, 0, 0.17);
}

.header_content {
	width: calc(100% - 279px);
	height: 100%;
}

.header_content::before {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: '';
	box-shadow: 0px 20px 49px rgba(0, 0, 0, 0.67);
	z-index: -1;
}

/*********************************
3.1 Logo
*********************************/
.logo_container {
	display: inline-block;
	padding-left: 76px;
}

.logo span {
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	font-weight: 900;
	color: #3a3a3a;
	vertical-align: middle;
	text-transform: uppercase;
	margin-left: 3px;
}

/*********************************
3.2 Main Nav
*********************************/
.main_nav_container {
	display: inline-block;
	margin-left: auto;
	padding-right: 93px;
}

.main_nav {
	margin-top: 7px;
}

.main_nav_item {
	display: inline-block;
	margin-right: 40px;
}

.main_nav_item:last-child {
	margin-right: 0px;
}

.main_nav_item a {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
	color: #3a3a3a;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.main_nav_item a:hover {
	color: #ffb606;
}

/*********************************
3.3 Header Side
*********************************/
.header_side {
	width: 279px;
	height: 100%;
	background: #ffb606;
}

.header_side img {
	width: 29px;
	height: 29px;
}

.header_side span {
	display: block;
	position: relative;
	font-size: 18px;
	font-weight: 500;
	color: #FFFFFF;
	padding-left: 12px;
}

/*********************************
3.4 Hamburger
*********************************/
.hamburger_container {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 20px;
	display: none;
	cursor: pointer;
}

.hamburger_container i {
	font-size: 24px;
	padding: 10px;
	color: #3a3a3a;
}

.hamburger_container:hover i {
	color: #ffb606;
}

/*********************************
4. Menu
*********************************/
.menu_container {
	position: fixed;
	top: 0;
	right: -50vw;
	width: 50vw;
	height: 100vh;
	background: #FFFFFF;
	z-index: 12;
	-webkit-transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
	-ms-transition: all 0.6s ease;
	-o-transition: all 0.6s ease;
	transition: all 0.6s ease;
	visibility: hidden;
	opacity: 0;
}

.menu_container.active {
	visibility: visible;
	opacity: 1;
	right: 0;
}

.menu {
	position: absolute;
	top: 150px;
	left: 0;
	padding-left: 15%;
}

.menu_list {
	-webkit-transform: translateY(3.5rem);
	-moz-transform: translateY(3.5rem);
	-ms-transform: translateY(3.5rem);
	-o-transform: translateY(3.5rem);
	transform: translateY(3.5rem);
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 1000ms 600ms ease;
	opacity: 0;
}

.menu_container.active .menu_list {
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	-o-transform: translateY(0px);
	transform: translateY(0px);
	opacity: 1;
}

.menu_item {
	margin-bottom: 9px;
}

.menu_item a {
	font-family: 'Open Sans', sans-serif;
	font-size: 36px;
	font-weight: 700;
	color: #3a3a3a;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.menu_item a:hover {
	color: #ffb606;
}

.menu_close_container {
	position: absolute;
	top: 86px;
	right: 79px;
	width: 21px;
	height: 21px;
	cursor: pointer;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.menu_close {
	top: 9px;
	width: 21px;
	height: 3px;
	background: #3a3a3a;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.menu_close::after {
	display: block;
	position: absolute;
	top: -9px;
	left: 9px;
	content: '';
	width: 3px;
	height: 21px;
	background: #3a3a3a;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.menu_close_container:hover .menu_close, .menu_close_container:hover .menu_close::after
	{
	background: #ffb606;
}

/*********************************
4.1 Menu Social
*********************************/
.menu_social_container {
	margin-top: 100px;
	-webkit-transform: translateY(3.5rem);
	-moz-transform: translateY(3.5rem);
	-ms-transform: translateY(3.5rem);
	-o-transform: translateY(3.5rem);
	transform: translateY(3.5rem);
	-webkit-transition: all 1000ms 1000ms ease;
	-moz-transition: all 1000ms 1000ms ease;
	-ms-transition: all 1000ms 1000ms ease;
	-o-transition: all 1000ms 1000ms ease;
	transition: all 1000ms 1000ms ease;
	opacity: 0;
	padding-left: 4px;
}

.menu_social_item {
	display: inline-block;
	margin-right: 27px;
}

.menu_social_item:last-child {
	margin-right: 0px;
}

.menu_social_item a i {
	color: #3a3a3a;
}

.menu_social_item a i:hover {
	color: #ffb606;
}

.menu_container.active .menu_social_container {
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	-o-transform: translateY(0px);
	transform: translateY(0px);
	opacity: 1;
}

/*********************************
4.2 Menu copyright
*********************************/
.menu_copyright {
	margin-top: 60px;
	-webkit-transform: translateY(3.5rem);
	-moz-transform: translateY(3.5rem);
	-ms-transform: translateY(3.5rem);
	-o-transform: translateY(3.5rem);
	transform: translateY(3.5rem);
	-webkit-transition: all 1000ms 1200ms ease;
	-moz-transition: all 1000ms 1200ms ease;
	-ms-transition: all 1000ms 1200ms ease;
	-o-transition: all 1000ms 1200ms ease;
	transition: all 1000ms 1200ms ease;
	opacity: 0;
	padding-left: 3px;
}

.menu_container.active .menu_copyright {
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	-o-transform: translateY(0px);
	transform: translateY(0px);
	opacity: 1;
}

/*********************************
5. Home
*********************************/
.home {
	width: 100%;
	height: 250px;
}

.home_background_container {
	position: absolute;
	bottom: 105px;
	left: 0;
	width: 100%;
	height: 100%;
}

.home_background {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-image:
		url("/fenglish/client/assets/images/contact_background.jpg");
}

.home_content {
	position: absolute;
	left: 50%;
	bottom: 109px;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	background: #ffb606;
	padding-top: 24px;
	padding-bottom: 18px;
	padding-left: 39px;
	padding-right: 42px;
}

.home_content h1 {
	font-size: 72px;
	font-weight: 400;
	color: #FFFFFF;
	line-height: 0.5;
	white-space: nowrap;
}

/*********************************
7. Page Section
*********************************/
.page_section {
	padding-top: 117px;
	padding-bottom: 117px;
}

.section_title {
	
}

.section_title h1 {
	display: block;
	color: #1a1a1a;
	font-weight: 500;
	padding-top: 24px;
}

.section_title h1::before {
	display: block;
	position: absolute;
	top: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 55px;
	height: 4px;
	content: '';
	background: #ffb606;
}

/*********************************
8. Elements
*********************************/
.elements {
	width: 100%;
	padding-top: 109px;
	padding-bottom: 106px;
}

.elements_title {
	font-size: 24px;
	font-weight: 500;
	color: #1a1a1a;
}

/*********************************
8.1 Buttons
*********************************/
.buttons_container {
	margin-top: 107px;
}

.button {
	display: inline-block;
	width: 188px;
	height: 53px;
	vertical-align: middle;
	margin-right: 9px;
	margin-bottom: 15px;
}

.button:hover {
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.button a {
	line-height: 53px;
	display: block;
	font-size: 16px;
	font-weight: 700;
}

.button_color_1 {
	background: #ffb606;
}

.button_color_1 a {
	color: #FFFFFF;
}

.button_color_2 {
	background: #1a1a1a;
}

.button_color_2 a {
	color: #FFFFFF;
}

.button_line_1 {
	background: transparent;
	border: solid 2px #ffb606;
}

.button_line_1 a {
	color: #ffb606;
}

.button_line_2 {
	background: transparent;
	border: solid 2px #1a1a1a;
}

.button_line_2 a {
	color: #1a1a1a;
}

/*********************************
8.2 Progress Bars
*********************************/
.pbars_accordions {
	margin-top: 94px;
}

.pbars_accordions_container {
	padding-top: 104px;
}

.pbar_container {
	background: #f8f4f4;
	padding-left: 99px;
	padding-right: 97px;
	padding-top: 46px;
	padding-bottom: 45px;
}

.pb_item {
	margin-bottom: 18px;
}

.pb_item h4 {
	color: #1a1a1a;
	font-weight: 400 !important;
	padding-left: 2px;
	margin-bottom: 13px;
}

.skill_bars {
	height: 5px;
}

/*********************************
8.3 Accordions
*********************************/
.elements_accordions {
	
}

.accordion_container {
	margin-bottom: 15px;
}

.accordion {
	height: 60px;
	width: 100%;
	background: #f8f4f4;
	padding-left: 30px;
	cursor: pointer;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.accordion.active {
	background: #ffb606;
	color: #FFFFFF;
}

.accordion:active {
	background: #ffb606 !important;
	color: #FFFFFF;
}

.accordion::after {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	right: 0;
	width: 62px;
	height: 100%;
	content: '+';
	background: #ffb606;
	font-size: 14px;
	color: #FFFFFF;
	font-weight: 500;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.accordion.active::after {
	content: '-';
}

.accordion:hover {
	background: #e4e4e4;
}

.accordion_panel {
	padding-left: 30px;
	padding-right: 30px;
	max-height: 0;
	overflow: hidden;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

.accordion_panel p {
	padding-top: 15px;
}

/*********************************
8.4 Loaders
*********************************/
.loaders {
	margin-top: 119px;
}

.elements_loaders_container {
	margin-top: 60px;
}

.loader {
	width: 195px;
	height: 195px;
	margin: 0 auto;
}

.loader_text {
	font-size: 16px;
	font-weight: 500;
	color: #1a1a1a;
	margin-top: 26px;
}

.loader .progressbar-text {
	top: 50% !important;
}

.loader_sub {
	font-size: 15px;
	font-weight: 400;
	color: #a5a5a5;
	margin-top: 5px;
}

/*********************************
8.5 Milestones
*********************************/
.milestones {
	width: 100%;
	margin-top: 102px;
}

.milestones_container {
	width: 100%;
	padding-top: 118px;
	padding-bottom: 107px;
	margin-top: 108px;
}

.milestones_background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

.milestone {
	width: 100%;
}

.milestone_icon {
	display: inline-block;
	width: 70px;
	height: 70px;
}

.milestone_icon img {
	width: 100%;
}

.milestone_counter {
	font-size: 36px;
	font-weight: 500;
	color: #ffb606;
	line-height: 1;
	margin-top: 41px;
}

.milestone_text {
	font-size: 22px;
	font-weight: 500;
	color: #FFFFFF;
	margin-top: 3px;
}

/*********************************
8.6 Icon Boxes
*********************************/
.icon_boxes {
	margin-top: 112px;
}

.icon_boxes_container {
	margin-top: 109px;
}

.icon_box {
	
}

.icon_box h3 {
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
	font-weight: 500;
	color: #1a1a1a;
	margin-bottom: 13px;
}

.icon_box p {
	font-size: 14px;
	font-weight: 500;
	color: #a5a5a5;
	max-width: 100%;
	margin-bottom: 0px;
}

.icon_container {
	height: 41px;
	width: auto;
	margin-bottom: 30px;
}

.icon_container img {
	height: 100%;
}

/*********************************
9. Footer
*********************************/
.footer {
	width: 100%;
	background: #1a1a1a;
}

.footer .section_title h1 {
	color: #FFFFFF;
}

/*********************************
9.1 Footer Copyright
*********************************/
.footer_bar {
	padding-top: 19px;
	padding-bottom: 19px;
}

.footer_social .menu_social_item a i {
	color: #FFFFFF;
}

.footer_social .menu_social_item a i:hover {
	color: #ffb606;
}

.footer_social .menu_social_item:last-child {
	margin-right: 0px;
}

.search_section {
	width: 100%;
	height: 100%;
	background: #ececec;
	position:  relative;
	top: -90px;
}

.search_content {
	width: 522px;
}

.search_background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 0.23;
}

.search_title {
	color: #1a1a1a;
}

/*********************************
11.1 Search Form
*********************************/
.register {
	width: 100%;
}

.register_section {
	width: 100%;
	background: #ffb606;
	padding-top: 156px;
	padding-bottom: 161px;
}

.register_content {
	width: 522px;
}

.register_title {
	color: #FFFFFF;
	margin-bottom: 16px;
	line-height: 1.63;
}

.register_title:last-child {
	margin-bottom: 0px;
}

.register_title	span {
	color: #1a1a1a;
}

.register_text {
	color: #FFFFFF;
	font-weight: 500;
	margin-top: 32px;
	padding-left: 25px;
	padding-right: 25px;
	margin-bottom: 0px;
}

.register_button {
	background: #1a1a1a;
	margin-top: 65px;
}

.register_button a {
	color: #FFFFFF;
}

.search_section {
	width: 100%;
	height: 100%;
	background: #ececec;
}

.search_content {
	width: 522px;
}

.search_background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 0.23;
}

.search_title {
	color: #1a1a1a;
}

.search_form {
	margin-top: 57px;
}

.input_field {
	width: 100%;
	height: 42px;
	background: #FFFFFF;
	box-sizing: border-box;
	border: solid 2px #FFFFFF;
	padding-left: 25px;
	margin-bottom: 24px;
}

input:last-of-type {
	margin-bottom: 0px;
}

.input_field:focus {
	outline: none !important;
	border: solid 2px #ffb606;
}

.search_submit_button {
	width: 100%;
	height: 48px;
	background: #ffb606;
	color: #FFFFFF;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
	margin-top: 28px;
	border: none;
	cursor: pointer;
}

.search_submit_button:hover {
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.search_submit_button:focus {
	outline: solid 2px #FFFFFF;
}

.col_box_test {
	margin-top: -90px;
	clear: both;
}

.head-list-read {
	clear: both;
	position: relative;
}

.head-list-read h2 {
	margin-bottom: 15px;
	padding-bottom: 3px;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: 500;
	color: #ff0000;
	border-bottom: 1px solid #ccc;
}

.head-list-read .fb-like {
	position: absolute;
	right: 0;
	top: 0;
}

.col_box_test .box_mini_test {
	clear: both;
}

.col_box_test .box_mini_test .title_test {
	display: block;
	background: #1b95db;
	padding: 20px 0;
	font-size: 24px;
	text-transform: uppercase;
	text-align: center;
	color: #fff
}

.col_box_test .box_mini_test .title_test:hover {
	background: #ff0000
}

.col_box_test .box_mini_test .title {
	padding: 25px 0;
	text-align: center;
	overflow: hidden;
	clear: both
}

.col_box_test .box_mini_test .title h2 {
	padding: 0;
	color: #000;
	font-size: 24px;
	font-weight: 500;
	margin-bottom: 5px;
}

.col_box_test .box_mini_test .title p {
	padding: 0;
	color: #000;
	font-weight: 300
}

.col_box_test ul.list_test {
	clear: both
}

.col_box_test ul.list_test li {
	margin-bottom: 20px;
	color: #fff;
	font-size: 16px;
}

.col_box_test ul.list_test li a {
	color: #fff;
}

.col_box_test ul.list_test li div {
	background: #1b95db;
	padding: 10px 10px 10px 80px;
}

.col_box_test ul.list_test li div:hover {
	background: #ff0000
}

.col_box_test ul.list_test li div.gray {
	background: #eee;
}

.col_box_test ul.list_test li div.gray2 {
	background: #D2D2D2;
}

.col_box_test ul.list_test li div.gray a, .col_box_test ul.list_test li div.gray2 a
	{
	color: #000;
}

.col_box_test ul.list_test li div {
	padding: 10px;
}

.col_box_baihoc_view {
	margin-top: 30px;
	font-size: 16px;
	clear: both;
	top: -80px;
}

.col_box_baihoc_view .head-list-video {
	clear: both
}

.col_box_baihoc_view .head-list-video h1 {
	margin-bottom: 15px;
	padding-bottom: 3px;
	font-size: 25px;
	font-weight: 600;
	color: #333;
}

.col_box_baihoc_view .head-list-read {
	clear: both
}

.col_box_baihoc_view .head-list-read h1 {
	letter-spacing: -1px;
	margin-bottom: 30px;
	padding-bottom: 3px;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: 600;
	color: #333;
	border-bottom: 1px solid #ccc;
}

.myquestionarea {
	margin: 20px 0;
	clear: both;
	color: #000;
}

.myquestionarea .title {
	font-size: 18px
}

.col_box_baihoc_view figure {
	text-align: center;
	padding: 10px 0
}

.col_box_baihoc_view figure img {
	width: auto;
}

/* Full test News */
.clear {
	clear: both;
}

.full_test {
	
}

.full_test .col_box_test {
	margin-top: 20px;
	margin-bottom: 30px;
}

.full_test .col_box_test h1 {
	font-size: 25px;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	color: #333;
}

.full_test .col_box_test .part {
	float: left;
	width: auto;
	margin: 0px -6px 15px -5px;
}

.full_test .col_box_test .part .item {
	font-size: 15px;
	float: left;
	text-align: center;
	padding: 0 5px;
}

.full_test .col_box_test .part .item a {
	background: #eeeeee;
	color: #333;
	padding: 5px 2px;
	height: 50px;
	display: table-cell;
	vertical-align: middle;
	width: 98px;
}

.full_test .col_box_test .part a strong {
	color: #ff0000;
	display: block;
}

.full_test .col_box_test .part a span {
	color: #ff0000;
	display: block;
	font-size: 13px;
}

.full_test .col_box_test .part a.active, .full_test .col_box_test .part a:hover
	{
	background: #ee4046;
	color: #fff;
}

.full_test .col_box_test .lead {
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	color: #333 !important;
	line-height: 1.3;
	border: 1px solid #dfdfdf;
	padding: 10px !important;
}

p.lead {
	color: #333 !important;
}

.full_test .col_box_test .question {
	margin-top: 30px;
	/*border-bottom: 1px solid #dfdfdf;*/
}

.full_test .col_box_test .question:last-child {
	border-bottom: 0;
}

.full_test .col_box_test .question .video_question {
	width: 70%;
	margin: 0 auto 30px;
}

.full_test .col_box_test .question label {
	color: #333;
	font-size: 16px;
	display: inline-block;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 0;
	cursor: pointer;
	font-weight: 400;
	padding-left: 25px;
}

.full_test .col_box_test .question label input {
	display: none;
}

.full_test .col_box_test .question label strong {
	font-size: 16px;
	margin-right: 8px;
	font-weight: 400;
	padding: 2px 0 0 0;
	font-family: 'Roboto', sans-serif;
	border: 1px solid #ccc;
	height: 30px;
	color: #666;
	width: 30px;
	display: inline-block;
	text-align: center;
	border-radius: 50%;
	position: relative;
	float: left;
}

.full_test .col_box_test .question label.success strong:before {
	content: "\f00c";
	font: normal normal normal 20px/1 FontAwesome;
	width: 20px;
	height: 20px;
	color: #04b12f;
	position: absolute;
	left: -25px;
	top: 5px;
}

.full_test .col_box_test .question label.error strong:before {
	content: "\f00d";
	font: normal normal normal 20px/1 FontAwesome;
	width: 20px;
	height: 20px;
	color: #ff0000;
	position: absolute;
	left: -25px;
	top: 5px;
}

.full_test .test_audio {
	margin-bottom: 15px;
}

.full_test .question_number {
	margin: 10px 0;
}

.full_test .myquestionarea .alert-warning {
	color: #333;
}

.full_test .col_box_test .question label.success {
	color: #04b12f !important;
}

.full_test .col_box_test .question label.success strong {
	background: #04b12f !important;
	color: #fff;
	border: 1px solid #04b12f !important;
}

.full_test .col_box_test .question label.error, .full_test .col_box_test .question label.active
	{
	color: #ff0000;
}

.full_test .col_box_test .question label.error strong, .full_test .col_box_test .question label.active strong,
	.full_test .col_box_test .question label.success_answer strong {
	background: #ff0000;
	color: #fff;
	border: 1px solid #ff0000;
}

.full_test .col_box_test .question label.success_answer strong {
	background: #0794DE;
	border: 1px solid #0794DE;
}

.full_test .col_box_test .question label.success_answer {
	color: #0794DE
}

.full_test .col_box_test .pageing {
	text-align: center
}

.full_test .col_box_test .pageing a {
	font-size: 15px;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 8px 20px;
	margin: 0 5px;
	display: inline-block;
}

.full_test .col_box_test .pageing a.back i {
	margin-right: 5px;
}

.full_test .col_box_test .pageing a.next i {
	margin-left: 5px;
}

.full_test .col_box_test .pageing a:hover {
	color: #fff;
	background: #ff0000;
	border: 1px solid #ff0000;
}

.answer_status {
	display: inline-block;
	margin-right: 2px;
	width: 20px;
	height: 12px;
	margin-top: 3px;
}

#test_random .quest_content, #fulltest_content .quest_content {
	font-weight: bold;
	margin-bottom: 10px;
}

#test_random .div_text {
	padding: 10px;
	margin-top: 10px;
}

#test_random .media_bt {
	margin-right: 10px;
}

#test_random .answer_content, #fulltest_content .answer_content {
	display: none;
}

#test_random .result {
	background: #FFFCCC;
}

#test_random .div_img {
	margin-bottom: 10px;
}

#test_random .media_bt {
	width: 200px;
	margin: 0 auto;
}

#fulltest_content .question_detail {
	margin-bottom: 10px;
}

#fulltest_content .div_text {
	margin-bottom: 10px;
	padding: 5px;
}

#fulltest_content .chan {
	background: #D4DFFF;
}

#fulltest_content .audio {
	margin: 7px 0;
}

#fulltest_content .answer_explain {
	background: #FFFCCC;
	padding: 10px;
	margin-top: 10px;
}

#fulltest_content .reading_description {
	background: #FFFCCC;
	padding: 10px;
	margin-bottom: 10px;
}

/******* WRITING ************/
#fulltest_content .tapescript_writing {
	margin-top: 20px;
}

#fulltest_content .tapescript_writing span {
	display: inline-block;
	color: #FFF;
	font-weight: bold;
	margin-bottom: 15px;
	padding: 10px 15px;
	background: #009832;
	border-radius: 5px;
}

.btn-bh {
	text-align: center;
	display: inline-block;
	padding: 20px 0;
	margin-right: 10px;
}

.btn-bh a {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e8f1f9+0,cbebff+8,459df4+100 */
	background: rgb(232, 241, 249); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(232, 241, 249, 1) 0%,
		rgba(203, 235, 255, 1) 8%, rgba(69, 157, 244, 1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(232, 241, 249, 1) 0%,
		rgba(203, 235, 255, 1) 8%, rgba(69, 157, 244, 1) 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(232, 241, 249, 1) 0%,
		rgba(203, 235, 255, 1) 8%, rgba(69, 157, 244, 1) 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8f1f9',
		endColorstr='#459df4', GradientType=0); /* IE6-9 */
	padding: 3px 18px;
	color: #000;
	font-weight: 300;
	-webkit-border-radius: 30px;
	width: 100px;
	display: inline-table;
	-moz-border-radius: 30px;
	border: 1px solid #7292BB;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 14px;
	border-radius: 30px;
}

.btn-bh a:hover {
	color: #FF0103;;
}

.myquestionarea label {
	display: block;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive,
	.thumbnail a>img, .thumbnail>img {
	display: block;
	max-width: 100%;
	height: auto
}

.img-rounded {
	border-radius: 6px
}

.img-thumbnail {
	display: inline-block;
	max-width: 100%;
	height: auto;
	padding: 4px;
	line-height: 1.42857143;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out
}

.img-circle {
	border-radius: 50%;
}

.table-user-information, .user-title {
	color: #000;
}

.panel.panel-info {
    position: relative;
    top: -105px;
}

.panel-heading {
	margin-bottom: 20px;
}

.edit-form {
    color: #000;
    top: -100px;
}

.error {
	color: red;
}