<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd 
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context.xsd 
    http://www.springframework.org/schema/mvc 
    http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<mvc:resources location="/client/assets/"
		mapping="/client/assets/**" />
	<mvc:resources location="/admin/assets/"
		mapping="/admin/assets/**" />
	<mvc:resources location="/ckeditor/"
		mapping="/ckeditor/**" />
	<!-- Load all annotation from java class -->
	<context:annotation-config />

	<!-- Load all file from package com.framgia to bean. There, Almost are controllers -->
	<context:component-scan
		base-package="vn.framgia.*" />

	<!-- Use for json response -->
	<mvc:annotation-driven>
		<mvc:message-converters>
			<bean
				class="org.springframework.http.converter.StringHttpMessageConverter" />
		</mvc:message-converters>
	</mvc:annotation-driven>

	<!-- Config locale for Multiple Language -->
	<bean id="localeChangeInterceptor"
		class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
		<property name="paramName" value="lang" />
	</bean>

	<bean id="localeResolver"
		class="org.springframework.web.servlet.i18n.SessionLocaleResolver">
		<property name="defaultLocale" value="vi" />
	</bean>

	<mvc:interceptors>
		<bean parent="localeChangeInterceptor" />
	</mvc:interceptors>

	<!-- Load message.properties. As I18n -->
	<bean id="messageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>classpath:messages</value>
				<value>classpath:google-login</value>
				<value>classpath:mailconfig</value>
				<value>classpath:cloudinary-storage</value>
				<value>classpath:activemq-config</value>
				<value>classpath:fenglish-global-variable</value>
				<value>classpath:facebook-api</value>
				<value>classpath:errors</value>
			</list>
		</property>
		<property name="fallbackToSystemLocale" value="false" />
	</bean>

	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="1000000" />
	</bean>

	<bean id="fileUploadHelper"
		class="vn.framgia.helper.FileUploadHelper">
	</bean>

	<bean id="taskExecutor"
		class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
		<property name="corePoolSize" value="5" />
		<property name="maxPoolSize" value="10" />
	</bean>
</beans>