<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">

	<bean id="UserService" parent="baseTransactionProxy">
		<property name="target">
			<bean class="vn.framgia.service.impl.UserServiceImpl">
				<property name="userDAO" ref="userDAO" />
				<property name="facebookAccountDAO" ref="facebookAccountDAO" />
			</bean>
		</property>
	</bean>

	<bean id="userDetailsServiceImpl" parent="baseTransactionProxy">
		<property name="target">
			<bean class="vn.framgia.service.impl.UserDetailsServiceImpl" />
		</property>
	</bean>

	<bean id="questionService" parent="baseTransactionProxy">
		<property name="target">
			<bean class="vn.framgia.service.impl.QuestionServiceImpl">
				<property name="questionDAO" ref="questionDAO" />
			</bean>
		</property>
	</bean>

	<bean id="SubjectService" parent="baseTransactionProxy">
		<property name="target">
			<bean class="vn.framgia.service.impl.SubjectServiceImpl">
				<property name="subjectDAO" ref="SubjectDAO" />
			</bean>
		</property>
	</bean>

	<bean id="LevelService" parent="baseTransactionProxy">
		<property name="target">
			<bean class="vn.framgia.service.impl.LevelServiceImpl">
				<property name="levelDAO" ref="LevelDAO" />
			</bean>
		</property>
	</bean>

	<bean id="ExerciseService" parent="baseTransactionProxy">
		<property name="target">
			<bean class="vn.framgia.service.impl.ExerciseServiceImpl">
				<property name="exerciseDAO" ref="exerciseDAO" />
				<property name="userDAO" ref="userDAO" />
				<property name="exerciseDetailDAO" ref="exerciseDetailDAO" />
				<property name="questionDAO" ref="questionDAO" />
			</bean>
		</property>
	</bean>

	<bean id="ExerciseDetailService" parent="baseTransactionProxy">
		<property name="target">
			<bean class="vn.framgia.service.impl.ExerciseDetailServiceImpl">
				<property name="exerciseDetailDAO" ref="exerciseDetailDAO" />
			</bean>
		</property>
	</bean>

	<bean id="googleUtilsService" parent="baseTransactionProxy">
		<property name="target">
			<bean class="vn.framgia.service.impl.GoogleUtilsServiceImpl">
				<property name="userDAO" ref="userDAO" />
			</bean>
		</property>
	</bean>

	<bean id="PostService" parent="baseTransactionProxy">
		<property name="target">
			<bean class="vn.framgia.service.impl.PostServiceImpl">
				<property name="postDAO" ref="postDAO" />
			</bean>
		</property>
	</bean>
	
	<bean id="CategoryService" parent="baseTransactionProxy">
		<property name="target">
			<bean class="vn.framgia.service.impl.CategoryServiceImpl">
				<property name="categoryDAO" ref="categoryDAO" />
			</bean>
		</property>
	</bean>
	
	<bean id="StatisticService" parent="baseTransactionProxy">
		<property name="target">
			<bean class="vn.framgia.service.impl.StatisticServiceImpl">
			</bean>
		</property>
	</bean>
	
	<bean id="facebookAccountService" parent="baseTransactionProxy">
		<property name="target">
			<bean class="vn.framgia.service.impl.FacebookAccountServiceImpl">
				<property name="facebookAccountDAO" ref="facebookAccountDAO" />
			</bean>
		</property>
	</bean>

</beans>
